<template>
    <div>
        <h1> Halaman Social.Vue </h1>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
export default {
    data(){
        return{
            code: "",
            provider: ""
        }
    },
    computed:{
        ...mapGetters({
            user: 'auth/user',
        })
    },
    methods:{
        ...mapActions({
            setAlert: 'alert/set',
            setAuth: 'auth/set',
            setDialogStatus: 'dialog/setStatus',
        }),
        go(provider,code){
            let url = '/api/social/' + provider + 'callback?code=' + code
            axios.get(url)
                .then((response) => {
                    let {data} = response.data
                    this.setAuth(data)
                    if(this.user.infoUser.id_user.length > 0){
                        this.setAlert({
                            status  : true,
                            color   : 'success',
                            text    : 'Login success',
                        })
                        this.setDialogStatus(false)
                        this.$route.push({ name: 'home'})
                    }
                    else{
                        this.setAlert({
                            status  : true,
                            color   : 'error',
                            text    : 'Login failed -> gagal Login',
                        })
                    }
                })
                .catch((error) => {
                    this.setAlert({
                        status: true,
                        text: 'Login Failed -> Axios.get(url) failed',
                        color: 'error',
                    })
                })
        }
    },
    mounted(){
        this.code = this.$route.query.code
        this.provider = this.$route.path.split('/')[2]
        console.log(this.code)
        console.log(this.provider)
        // this.go(this.provider, this.code)
    }
}
</script>
